.icon.major.accent1 {   /* History icon background color */
  background: #0D0D0D;  /* off-black */
}

.icon.major.accent2 {  /* Faith icon background color */
  background: #8C0E03; /* orangish red */
}

.icon.major.accent5 {  /* Order icon background color */
  background: #141A8C; /* blue */
}

.icon.major.accent3 {  /* Activities icon background color */
  background: #055902; /* dark green */
}
